{% extends 'base.html'%} {% block content %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');
h1{
  color: #38520d;
  
  font-family: 'Poppins', sans-serif;
}
h4,p,h2{
  color: #fff;
}
h6{
    color:#B2BEB5
  }
  p{

    font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    color: rgb(155, 152, 152);
/* 
    font-family: 'IBM Plex Sans', sans-serif; */
    font-size:1.3vw;
  }
h3{
  color: #4e7309;
  font-family: futura-pt;
  font-size: 1.3vw;
}

h5{
  font-family: 'Proza Libre', sans-serif;
  color: #fff;
}

#card{
  border-left: 1px solid #fff;
  

}
.col-md-3,.col-md-9{
  padding-top: 5vw;

}
.row{
  display: flex;
  flex-wrap: wrap;
}
#img{
  height: 20vw;
}
</style>
<body>
  
  <div class="container" style="width: 100%;">
    <h1>Searched articles</h1>
    <div class="row">
      {% for article in articles %}
      <div class="col-md-4">
        <div class="card">
          <img src="{{article.image}}" class="card-img-top img-thumbnail" id="img"/>
          <div class="card-body">
           
            <p class="card-text">{{article.description}}</p>
          </div>
          <div class="card-body">
            <a href="{{article.url}}" class="card-link">Read more ...</a>
          </div>
          <div class="card-footer text-muted">
            <h4>By: {{article.author}}</h4>
            <h6>{{article.publishedDate}}</h6>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock %}